In [1]:
import pandas as pd

In [2]:
print("hello")

hello

In [3]:
import cx_Oracle as oracle

In [4]:
dbhost=""
dbport=""
dbservicename=""
dbusername=""
dbpassword=""

In [7]:
dsn = oracle.makedsn(host=dbhost,port=dbport,sid=None,service_name=dbservicename)

In [8]:
connection = oracle.connect(user=dbusername,password=dbpassword,dsn=dsn)

In [9]:
query = ""
df=pd.read_sql(query,con=connection)
#cur = connection.cursor()
#results = cur.execute(query).fetchall()

In [10]:
print(df)
type(df)

[50 rows x 122 columns]

pandas.core.frame.DataFrame

In [11]:
#print(pd.read_table(results))

In [24]:
#PRINT CUST_IDFOR ALL GOLD CUSTOMER
df[['CUS_ACCOUNT_ID','CUS_CUSTOMER_TYPE']][df['CUS_CUSTOMER_TYPE']=='GOLD']

In [13]:
df.shape

(50, 122)

In [14]:
df.columns = [x.strip() for x in df.columns]

In [15]:
df

[50 rows x 122 columns]

In [16]:
df.shape

(50, 122)

In [17]:
df.columns

Index(['CUS_ACCOUNT_ID', 'CUS_FAX_NO', 'CUS_CUSTOMER_TYPE',
       'CUS_CUSTOMER_CATEGORY', 'CUS_ADD_PIN', 'CUS_CITY_CODE',
       'CUS_STATE_CODE', 'CUS_TEL_NO', 'CUS_CONTACT_NO', 'CUS_GRID_ID',
       ...
       'CUS_P2P_FLAG', 'CUS_AON', 'CUS_AON_DATE', 'CUS_DEACT_REASON',
       'CUS_MIGRATED', 'CUS_ADD_DATE', 'CUS_ADD_BY', 'CUS_CONTRACT_ACC',
       'CUS_PARENT_ACC', 'CUS_BRN_NO'],
      dtype='object', length=122)

In [18]:
df.tail()

,CUS_ACCOUNT_ID,CUS_FAX_NO,CUS_CUSTOMER_TYPE,CUS_CUSTOMER_CATEGORY,CUS_ADD_PIN,CUS_CITY_CODE,CUS_STATE_CODE,CUS_TEL_NO,CUS_CONTACT_NO,CUS_GRID_ID,...,CUS_P2P_FLAG,CUS_AON,CUS_AON_DATE,CUS_DEACT_REASON,CUS_MIGRATED,CUS_ADD_DATE,CUS_ADD_BY,CUS_CONTRACT_ACC,CUS_PARENT_ACC,CUS_BRN_NO
45,SL5687189,None,NEW,CONTRACT,None,ADDAL,COL,SL5687189,12,None,...,None,None,None,None,None,2020-03-30 13:31:35,HELLO,SL5687189,None,None
46,SL5687190,None,NEW,CONTRACT,None,ADDAL,COL,SL5687190,1,None,...,None,None,None,None,None,2020-03-30 14:32:04,HELLO,SL5687190,None,None
47,SL5687204,None,NEW,CONTRACT,None,AMPAR,COL,SL5687204,123,None,...,None,None,None,None,None,2020-05-15 00:14:49,BIMAL,SL5687204,None,None
48,SL5687196,None,GOLD,CONTRACT,None,AKKAA,COL,SL5687196,123,None,...,None,None,None,None,None,2020-05-14 17:42:24,BIMAL,SL5687196,None,None
49,SL5687202,None,NEW,CONTRACT,None,ANGAM,COL,SL5687202,123,None,...,None,None,None,None,None,2020-05-14 20:20:08,BIMAL,SL5687202,None,None

In [21]:
#slicing
df[:] #print all rows
df[1:5] #print row from 1 - 4

,CUS_ACCOUNT_ID,CUS_FAX_NO,CUS_CUSTOMER_TYPE,CUS_CUSTOMER_CATEGORY,CUS_ADD_PIN,CUS_CITY_CODE,CUS_STATE_CODE,CUS_TEL_NO,CUS_CONTACT_NO,CUS_GRID_ID,...,CUS_P2P_FLAG,CUS_AON,CUS_AON_DATE,CUS_DEACT_REASON,CUS_MIGRATED,CUS_ADD_DATE,CUS_ADD_BY,CUS_CONTRACT_ACC,CUS_PARENT_ACC,CUS_BRN_NO
1,1015687180,None,NEW,POSTPAID,None,ADDAL,None,1015687180,777777777,None,...,None,None,None,None,None,2020-03-12 12:19:06,HELLO,SL5687168,None,None
2,1015687171,None,NEW,POSTPAID,None,AMUNU,None,1015687171,12345,None,...,None,None,None,None,None,2020-03-06 14:09:34,IPACS,SL5687158,None,None
3,1015687172,None,NEW,POSTPAID,None,AMUNU,None,1015687172,12345,None,...,None,None,None,None,None,2020-03-06 14:18:12,IPACS,SL5687158,None,None
4,1015687173,None,NEW,POSTPAID,None,AMUNU,None,1015687173,12345,None,...,None,None,None,None,None,2020-03-12 11:10:16,HELLO,SL5687158,None,None

In [22]:
#columns in data frame are of type pandas series.
#here df is my dataframe
type(df['CUS_ACCOUNT_ID'])

pandas.core.series.Series

In [23]:
#PRINT TWO OR  MORE SELECTED COLUMNS
df[['CUS_ACCOUNT_ID','CUS_CUSTOMER_TYPE']]

     CUS_ACCOUNT_ID CUS_CUSTOMER_TYPE
0        1015687179               NEW
1        1015687180               NEW
2        1015687171               NEW
3        1015687172               NEW
4        1015687173               NEW
5        1015687174               NEW
6        1015687192               NEW
7        1015687205               NEW
8        1015687159               NEW
9        1015687170               NEW
10       1015687197              GOLD
11       1015687198              GOLD
12       1015687199              GOLD
13       1015687200              GOLD
14       1015687160               NEW
15       1015687162               NEW
16       1015687186               NEW
17       1015687187               NEW
18       1015687161               NEW
19       1015687191               NEW
20       1015687193               NEW
21       1015687194               NEW
22       1015687195               NEW
23  202003000000003              GOLD
24       1015687181               NEW
25       1015687182               NEW
26  202002000000065              GOLD
27  202003000000001              GOLD
28       1015687183               NEW
29       1015687206               NEW
30  202003000000002              GOLD
31  202002000000002              GOLD
32       1015687166               NEW
33       1015687167               NEW
34  202002000000003              GOLD
35       1015687184               NEW
36       1015687185               NEW
37       1015687201              GOLD
38       1015687203               NEW
39        SL5687158               NEW
40        SL5687168               NEW
41        SL5687169               NEW
42        SL5687175               NEW
43        SL5687177               NEW
44        SL5687178               NEW
45        SL5687189               NEW
46        SL5687190               NEW
47        SL5687204               NEW
48        SL5687196              GOLD
49        SL5687202               NEW

In [25]:
df.describe() #get all statistics data for all number fields

       CUS_NO_DEPENDENTS
count                1.0
mean                 2.0
std                  NaN
min                  2.0
25%                  2.0
50%                  2.0
75%                  2.0
max                  2.0

In [33]:
df['CUS_ADD_DATE'].max()  #same for mean, m'in, count ...
df['CUS_ADD_DATE'].count()

49

In [32]:

#print newest added customer
df[df['CUS_ADD_DATE']==df['CUS_ADD_DATE'].max()]

,CUS_ACCOUNT_ID,CUS_FAX_NO,CUS_CUSTOMER_TYPE,CUS_CUSTOMER_CATEGORY,CUS_ADD_PIN,CUS_CITY_CODE,CUS_STATE_CODE,CUS_TEL_NO,CUS_CONTACT_NO,CUS_GRID_ID,...,CUS_P2P_FLAG,CUS_AON,CUS_AON_DATE,CUS_DEACT_REASON,CUS_MIGRATED,CUS_ADD_DATE,CUS_ADD_BY,CUS_CONTRACT_ACC,CUS_PARENT_ACC,CUS_BRN_NO
29,1015687206,None,NEW,POSTPAID,None,AMUNU,BLR1,7893738210,12345,None,...,None,None,None,None,None,2020-05-27 16:11:33,IPACS,SL5687158,None,None

In [ ]:
#by default data frame use count as my index 
#we can also use any column as our index
#df.set_index('column_name') return a new data frame
#df.set_index('column_name',inplace=True)