In [1]:
import pandas as pd

In [2]:
print("hello")

hello

In [3]:
import cx_Oracle as oracle

In [4]:
dbhost="172.16.7.220"
dbport="1521"
dbservicename="pacs"
dbusername="IPACS_11_1"
dbpassword="IPACS_11_1"

In [7]:
dsn = oracle.makedsn(host=dbhost,port=dbport,sid=None,service_name=dbservicename)

In [8]:
connection = oracle.connect(user=dbusername,password=dbpassword,dsn=dsn)

In [9]:
query = "select * from cms_m_customer"
df=pd.read_sql(query,con=connection)
#cur = connection.cursor()
#results = cur.execute(query).fetchall()

In [10]:
print(df)
type(df)

     CUS_ACCOUNT_ID CUS_FAX_NO CUS_CUSTOMER_TYPE CUS_CUSTOMER_CATEGORY  \
0        1015687179       None               NEW              POSTPAID
1        1015687180       None               NEW              POSTPAID
2        1015687171       None               NEW              POSTPAID
3        1015687172       None               NEW              POSTPAID
4        1015687173       None               NEW              POSTPAID
5        1015687174       None               NEW              POSTPAID
6        1015687192       None               NEW              POSTPAID
7        1015687205       None               NEW              POSTPAID
8        1015687159       None               NEW              POSTPAID
9        1015687170       None               NEW              POSTPAID
10       1015687197       None              GOLD              POSTPAID
11       1015687198       None              GOLD              POSTPAID
12       1015687199       None              GOLD              POSTPAID
13       1015687200       None              GOLD              POSTPAID
14       1015687160       None               NEW              POSTPAID
15       1015687162       None               NEW              POSTPAID
16       1015687186       None               NEW              POSTPAID
17       1015687187       None               NEW              POSTPAID
18       1015687161       None               NEW              POSTPAID
19       1015687191       None               NEW              POSTPAID
20       1015687193       None               NEW              POSTPAID
21       1015687194       None               NEW              POSTPAID
22       1015687195       None               NEW              POSTPAID
23  202003000000003       None              GOLD               PREPAID
24       1015687181       None               NEW              POSTPAID
25       1015687182       None               NEW              POSTPAID
26  202002000000065       None              GOLD               PREPAID
27  202003000000001       None              GOLD               PREPAID
28       1015687183       None               NEW              POSTPAID
29       1015687206       None               NEW              POSTPAID
30  202003000000002       None              GOLD               PREPAID
31  202002000000002      12345              GOLD               PREPAID
32       1015687166       None               NEW              POSTPAID
33       1015687167       None               NEW              POSTPAID
34  202002000000003       None              GOLD               PREPAID
35       1015687184       None               NEW              POSTPAID
36       1015687185       None               NEW              POSTPAID
37       1015687201       None              GOLD              POSTPAID
38       1015687203       None               NEW              POSTPAID
39        SL5687158       None               NEW              CONTRACT
40        SL5687168       None               NEW              CONTRACT
41        SL5687169       None               NEW              CONTRACT
42        SL5687175       None               NEW              CONTRACT
43        SL5687177       None               NEW              CONTRACT
44        SL5687178       None               NEW              CONTRACT
45        SL5687189       None               NEW              CONTRACT
46        SL5687190       None               NEW              CONTRACT
47        SL5687204       None               NEW              CONTRACT
48        SL5687196       None              GOLD              CONTRACT
49        SL5687202       None               NEW              CONTRACT

   CUS_ADD_PIN CUS_CITY_CODE CUS_STATE_CODE  CUS_TEL_NO CUS_CONTACT_NO  \
0         None         ADDAL           None  1015687179      777777777
1         None         ADDAL           None  1015687180      777777777
2         None         AMUNU           None  1015687171          12345
3         None         AMUNU           None  1015687172          12345
4         None         AMUNU           None  1015687173          12345
5         None         ADDAL           None  1015687174      777777777
6         None         AMUNU           None  1015687192          12345
7         None         AMUNU           None  1015687205          12345
8         None         AMUNU           None  1015687159          12345
9         None         AMUNU           None  1015687170          12345
10        None         AKKAA           None  1015687197            123
11        None         AKKAA           None  1015687198            123
12        None         AKKAA           None  1015687199            123
13        None         AKKAA           None  1015687200            123
14        None         AMUNU           None  1015687160          12345
15        None         AMUNU           None  1015687162          12345
16        None         AMUNU           None  1015687186          12345
17        None         AMUNU           None  1015687187          12345
18        None         AMUNU           None  1015687161          12345
19        None         AMUNU           None  1015687191          12345
20        None         AMUNU           None  1015687193          12345
21        None         AMUNU           None  1015687194          12345
22        None         AMUNU           None  1015687195          12345
23        None          None           BLR1  7893737268           None
24        None         ADDAL           BLR1  7893738498      777777777
25        None         AMUNU           BLR1  7893737980          12345
26        None          None          INDIA  7893738994           None
27        None          None           BLR1  7893737396           None
28        None         AMUNU           BLR1  7893737581          12345
29        None         AMUNU           BLR1  7893738210          12345
30        None          None           BLR1  7893737421           None
31        None          None           BLR1  7893737215           9852
32        None         AMUNU            COL  7795543796          12345
33        None         AMUNU           BLR1  7893737384          12345
34        None          None           BLR1  7893737266           None
35        None         ADDAL           None  8008866185      777777777
36        None         AMUNU           BLR1  7893737595          12345
37        None         AKKAA           BLR1  7893737851            123
38        None         ANGAM           BLR1  7893737891            123
39        None         AMUNU            COL   SL5687158          12345
40        None         ADDAL            COL   SL5687168      777777777
41        None         ADDAL            COL   SL5687169           1234
42        None         ADDAL            COL   SL5687175           9852
43        None         ADDAL            COL   SL5687177           1234
44        None         AKKAA            COL   SL5687178           1234
45        None         ADDAL            COL   SL5687189             12
46        None         ADDAL            COL   SL5687190              1
47        None         AMPAR            COL   SL5687204            123
48        None         AKKAA            COL   SL5687196            123
49        None         ANGAM            COL   SL5687202            123

   CUS_GRID_ID  ... CUS_P2P_FLAG CUS_AON CUS_AON_DATE CUS_DEACT_REASON  \
0         None  ...         None    None         None             None
1         None  ...         None    None         None             None
2         None  ...         None    None         None             None
3         None  ...         None    None         None             None
4         None  ...         None    None         None             None
5         None  ...         None    None         None             None
6         None  ...         None    None         None             None
7         None  ...         None    None         None             None
8         None  ...         None    None         None             None
9         None  ...         None    None         None             None
10        None  ...         None    None         None             None
11        None  ...         None    None         None             None
12        None  ...         None    None         None             None
13        None  ...         None    None         None             None
14        None  ...         None    None         None             None
15        None  ...         None    None         None             None
16        None  ...         None    None         None             None
17        None  ...         None    None         None             None
18        None  ...         None    None         None             None
19        None  ...         None    None         None             None
20        None  ...         None    None         None             None
21        None  ...         None    None         None             None
22        None  ...         None    None         None             None
23        None  ...         None    None         None             None
24        None  ...         None    None         None             None
25        None  ...         None    None         None             None
26        None  ...         None    None         None             None
27        None  ...         None    None         None             None
28        None  ...         None    None         None             None
29        None  ...         None    None         None             None
30        None  ...         None    None         None             None
31        None  ...         None    None         None             None
32        None  ...         None    None         None             None
33        None  ...         None    None         None             None
34        None  ...         None    None         None             None
35        None  ...         None    None         None             None
36        None  ...         None    None         None             None
37        None  ...         None    None         None             None
38        None  ...         None    None         None             None
39        None  ...         None    None         None             None
40        None  ...         None    None         None             None
41        None  ...         None    None         None             None
42        None  ...         None    None         None             None
43        None  ...         None    None         None             None
44        None  ...         None    None         None             None
45        None  ...         None    None         None             None
46        None  ...         None    None         None             None
47        None  ...         None    None         None             None
48        None  ...         None    None         None             None
49        None  ...         None    None         None             None

   CUS_MIGRATED        CUS_ADD_DATE CUS_ADD_BY CUS_CONTRACT_ACC  \
0          None 2020-03-12 11:30:03      HELLO        SL5687168
1          None 2020-03-12 12:19:06      HELLO        SL5687168
2          None 2020-03-06 14:09:34      IPACS        SL5687158
3          None 2020-03-06 14:18:12      IPACS        SL5687158
4          None 2020-03-12 11:10:16      HELLO        SL5687158
5          None 2020-03-12 11:11:32      IPACS        SL5687168
6          None 2020-04-27 23:27:02      BIMAL        SL5687158
7          None 2020-05-27 16:11:27      IPACS        SL5687158
8          None 2020-02-05 15:13:59      IPACS        SL5687158
9          None 2020-03-06 13:54:39      IPACS        SL5687158
10         None 2020-05-14 17:45:02      BIMAL        SL5687196
11         None 2020-05-14 18:01:48      BIMAL        SL5687196
12         None 2020-05-14 18:12:12      BIMAL        SL5687196
13         None 2020-05-14 18:24:11      BIMAL        SL5687196
14         None 2020-02-05 15:42:30      IPACS        SL5687158
15         None 2020-02-19 14:32:37      HELLO        SL5687158
16         None 2020-03-13 12:33:22      HELLO        SL5687158
17         None 2020-03-13 12:36:58      HELLO        SL5687158
18         None 2020-02-06 10:57:48      IPACS        SL5687158
19         None 2020-04-27 23:19:56      BIMAL        SL5687158
20         None 2020-04-27 23:31:10      BIMAL        SL5687158
21         None 2020-04-27 23:59:41      BIMAL        SL5687158
22         None 2020-04-28 00:05:41      BIMAL        SL5687158
23         None 2020-03-11 14:18:18      IPACS             None
24         None 2020-03-12 12:47:30      HELLO        SL5687168
25         None 2020-03-12 13:16:25      HELLO        SL5687158
26         None                 NaT       None             None
27         None 2020-03-02 17:13:01      IPACS             None
28         None 2020-03-12 14:55:09      HELLO        SL5687158
29         None 2020-05-27 16:11:33      IPACS        SL5687158
30         None 2020-03-03 09:49:17      IPACS             None
31         None 2020-02-04 15:50:56      IPACS             None
32         None 2020-02-05 15:06:28      HELLO        SL5687168
33         None 2020-02-25 10:50:51      BIMAL        SL5687158
34         None 2020-02-12 15:36:26      HARSH             None
35         None 2020-03-12 16:36:03      HELLO        SL5687168
36         None 2020-03-12 16:50:20      HELLO        SL5687158
37         None 2020-05-14 18:41:03      BIMAL        SL5687196
38         None 2020-05-14 20:22:20      BIMAL        SL5687202
39         None 2020-02-05 15:06:28      IPACS        SL5687158
40         None 2020-02-26 17:18:36      BIMAL        SL5687168
41         None 2020-03-06 13:51:38      IPACS        SL5687169
42         None 2020-03-12 11:16:36      IPACS        SL5687175
43         None 2020-03-12 11:19:38      IPACS        SL5687177
44         None 2020-03-12 11:25:27      IPACS        SL5687178
45         None 2020-03-30 13:31:35      HELLO        SL5687189
46         None 2020-03-30 14:32:04      HELLO        SL5687190
47         None 2020-05-15 00:14:49      BIMAL        SL5687204
48         None 2020-05-14 17:42:24      BIMAL        SL5687196
49         None 2020-05-14 20:20:08      BIMAL        SL5687202

   CUS_PARENT_ACC CUS_BRN_NO
0            None       None
1            None       None
2            None       None
3            None       None
4            None       None
5            None       None
6            None       None
7            None       None
8            None       None
9            None       None
10           None       None
11           None       None
12           None       None
13           None       None
14           None       None
15           None       None
16           None       None
17           None       None
18           None       None
19           None       None
20           None       None
21           None       None
22           None       None
23           None       None
24           None       None
25           None       None
26           None       None
27           None       None
28           None       None
29           None       None
30           None       None
31           None       None
32           None       None
33           None       TEST
34           None       None
35           None       None
36           None       None
37           None       None
38           None       None
39           None       None
40           None       None
41           None       None
42           None       None
43           None       None
44           None       None
45           None       None
46           None       None
47           None       None
48           None       None
49           None       None

[50 rows x 122 columns]

pandas.core.frame.DataFrame

In [11]:
#print(pd.read_table(results))

In [24]:
#PRINT CUST_IDFOR ALL GOLD CUSTOMER
df[['CUS_ACCOUNT_ID','CUS_CUSTOMER_TYPE']][df['CUS_CUSTOMER_TYPE']=='GOLD']

     CUS_ACCOUNT_ID CUS_CUSTOMER_TYPE
10       1015687197              GOLD
11       1015687198              GOLD
12       1015687199              GOLD
13       1015687200              GOLD
23  202003000000003              GOLD
26  202002000000065              GOLD
27  202003000000001              GOLD
30  202003000000002              GOLD
31  202002000000002              GOLD
34  202002000000003              GOLD
37       1015687201              GOLD
48        SL5687196              GOLD

In [13]:
df.shape

(50, 122)

In [14]:
df.columns = [x.strip() for x in df.columns]

In [15]:
df

,CUS_ACCOUNT_ID,CUS_FAX_NO,CUS_CUSTOMER_TYPE,CUS_CUSTOMER_CATEGORY,CUS_ADD_PIN,CUS_CITY_CODE,CUS_STATE_CODE,CUS_TEL_NO,CUS_CONTACT_NO,CUS_GRID_ID,...,CUS_P2P_FLAG,CUS_AON,CUS_AON_DATE,CUS_DEACT_REASON,CUS_MIGRATED,CUS_ADD_DATE,CUS_ADD_BY,CUS_CONTRACT_ACC,CUS_PARENT_ACC,CUS_BRN_NO
0,1015687179,None,NEW,POSTPAID,None,ADDAL,None,1015687179,777777777,None,...,None,None,None,None,None,2020-03-12 11:30:03,HELLO,SL5687168,None,None
1,1015687180,None,NEW,POSTPAID,None,ADDAL,None,1015687180,777777777,None,...,None,None,None,None,None,2020-03-12 12:19:06,HELLO,SL5687168,None,None
2,1015687171,None,NEW,POSTPAID,None,AMUNU,None,1015687171,12345,None,...,None,None,None,None,None,2020-03-06 14:09:34,IPACS,SL5687158,None,None
3,1015687172,None,NEW,POSTPAID,None,AMUNU,None,1015687172,12345,None,...,None,None,None,None,None,2020-03-06 14:18:12,IPACS,SL5687158,None,None
4,1015687173,None,NEW,POSTPAID,None,AMUNU,None,1015687173,12345,None,...,None,None,None,None,None,2020-03-12 11:10:16,HELLO,SL5687158,None,None
5,1015687174,None,NEW,POSTPAID,None,ADDAL,None,1015687174,777777777,None,...,None,None,None,None,None,2020-03-12 11:11:32,IPACS,SL5687168,None,None
6,1015687192,None,NEW,POSTPAID,None,AMUNU,None,1015687192,12345,None,...,None,None,None,None,None,2020-04-27 23:27:02,BIMAL,SL5687158,None,None
7,1015687205,None,NEW,POSTPAID,None,AMUNU,None,1015687205,12345,None,...,None,None,None,None,None,2020-05-27 16:11:27,IPACS,SL5687158,None,None
8,1015687159,None,NEW,POSTPAID,None,AMUNU,None,1015687159,12345,None,...,None,None,None,None,None,2020-02-05 15:13:59,IPACS,SL5687158,None,None
9,1015687170,None,NEW,POSTPAID,None,AMUNU,None,1015687170,12345,None,...,None,None,None,None,None,2020-03-06 13:54:39,IPACS,SL5687158,None,None
10,1015687197,None,GOLD,POSTPAID,None,AKKAA,None,1015687197,123,None,...,None,None,None,None,None,2020-05-14 17:45:02,BIMAL,SL5687196,None,None
11,1015687198,None,GOLD,POSTPAID,None,AKKAA,None,1015687198,123,None,...,None,None,None,None,None,2020-05-14 18:01:48,BIMAL,SL5687196,None,None
12,1015687199,None,GOLD,POSTPAID,None,AKKAA,None,1015687199,123,None,...,None,None,None,None,None,2020-05-14 18:12:12,BIMAL,SL5687196,None,None
13,1015687200,None,GOLD,POSTPAID,None,AKKAA,None,1015687200,123,None,...,None,None,None,None,None,2020-05-14 18:24:11,BIMAL,SL5687196,None,None
14,1015687160,None,NEW,POSTPAID,None,AMUNU,None,1015687160,12345,None,...,None,None,None,None,None,2020-02-05 15:42:30,IPACS,SL5687158,None,None
15,1015687162,None,NEW,POSTPAID,None,AMUNU,None,1015687162,12345,None,...,None,None,None,None,None,2020-02-19 14:32:37,HELLO,SL5687158,None,None
16,1015687186,None,NEW,POSTPAID,None,AMUNU,None,1015687186,12345,None,...,None,None,None,None,None,2020-03-13 12:33:22,HELLO,SL5687158,None,None
17,1015687187,None,NEW,POSTPAID,None,AMUNU,None,1015687187,12345,None,...,None,None,None,None,None,2020-03-13 12:36:58,HELLO,SL5687158,None,None
18,1015687161,None,NEW,POSTPAID,None,AMUNU,None,1015687161,12345,None,...,None,None,None,None,None,2020-02-06 10:57:48,IPACS,SL5687158,None,None
19,1015687191,None,NEW,POSTPAID,None,AMUNU,None,1015687191,12345,None,...,None,None,None,None,None,2020-04-27 23:19:56,BIMAL,SL5687158,None,None
20,1015687193,None,NEW,POSTPAID,None,AMUNU,None,1015687193,12345,None,...,None,None,None,None,None,2020-04-27 23:31:10,BIMAL,SL5687158,None,None
21,1015687194,None,NEW,POSTPAID,None,AMUNU,None,1015687194,12345,None,...,None,None,None,None,None,2020-04-27 23:59:41,BIMAL,SL5687158,None,None
22,1015687195,None,NEW,POSTPAID,None,AMUNU,None,1015687195,12345,None,...,None,None,None,None,None,2020-04-28 00:05:41,BIMAL,SL5687158,None,None
23,202003000000003,None,GOLD,PREPAID,None,None,BLR1,7893737268,None,None,...,None,None,None,None,None,2020-03-11 14:18:18,IPACS,None,None,None
24,1015687181,None,NEW,POSTPAID,None,ADDAL,BLR1,7893738498,777777777,None,...,None,None,None,None,None,2020-03-12 12:47:30,HELLO,SL5687168,None,None
25,1015687182,None,NEW,POSTPAID,None,AMUNU,BLR1,7893737980,12345,None,...,None,None,None,None,None,2020-03-12 13:16:25,HELLO,SL5687158,None,None
26,202002000000065,None,GOLD,PREPAID,None,None,INDIA,7893738994,None,None,...,None,None,None,None,None,NaT,None,None,None,None
27,202003000000001,None,GOLD,PREPAID,None,None,BLR1,7893737396,None,None,...,None,None,None,None,None,2020-03-02 17:13:01,IPACS,None,None,None
28,1015687183,None,NEW,POSTPAID,None,AMUNU,BLR1,7893737581,12345,None,...,None,None,None,None,None,2020-03-12 14:55:09,HELLO,SL5687158,None,None
29,1015687206,None,NEW,POSTPAID,None,AMUNU,BLR1,7893738210,12345,None,...,None,None,None,None,None,2020-05-27 16:11:33,IPACS,SL5687158,None,None
30,202003000000002,None,GOLD,PREPAID,None,None,BLR1,7893737421,None,None,...,None,None,None,None,None,2020-03-03 09:49:17,IPACS,None,None,None
31,202002000000002,12345,GOLD,PREPAID,None,None,BLR1,7893737215,9852,None,...,None,None,None,None,None,2020-02-04 15:50:56,IPACS,None,None,None
32,1015687166,None,NEW,POSTPAID,None,AMUNU,COL,7795543796,12345,None,...,None,None,None,None,None,2020-02-05 15:06:28,HELLO,SL5687168,None,None
33,1015687167,None,NEW,POSTPAID,None,AMUNU,BLR1,7893737384,12345,None,...,None,None,None,None,None,2020-02-25 10:50:51,BIMAL,SL5687158,None,TEST
34,202002000000003,None,GOLD,PREPAID,None,None,BLR1,7893737266,None,None,...,None,None,None,None,None,2020-02-12 15:36:26,HARSH,None,None,None
35,1015687184,None,NEW,POSTPAID,None,ADDAL,None,8008866185,777777777,None,...,None,None,None,None,None,2020-03-12 16:36:03,HELLO,SL5687168,None,None
36,1015687185,None,NEW,POSTPAID,None,AMUNU,BLR1,7893737595,12345,None,...,None,None,None,None,None,2020-03-12 16:50:20,HELLO,SL5687158,None,None
37,1015687201,None,GOLD,POSTPAID,None,AKKAA,BLR1,7893737851,123,None,...,None,None,None,None,None,2020-05-14 18:41:03,BIMAL,SL5687196,None,None
38,1015687203,None,NEW,POSTPAID,None,ANGAM,BLR1,7893737891,123,None,...,None,None,None,None,None,2020-05-14 20:22:20,BIMAL,SL5687202,None,None
39,SL5687158,None,NEW,CONTRACT,None,AMUNU,COL,SL5687158,12345,None,...,None,None,None,None,None,2020-02-05 15:06:28,IPACS,SL5687158,None,None
40,SL5687168,None,NEW,CONTRACT,None,ADDAL,COL,SL5687168,777777777,None,...,None,None,None,None,None,2020-02-26 17:18:36,BIMAL,SL5687168,None,None
41,SL5687169,None,NEW,CONTRACT,None,ADDAL,COL,SL5687169,1234,None,...,None,None,None,None,None,2020-03-06 13:51:38,IPACS,SL5687169,None,None
42,SL5687175,None,NEW,CONTRACT,None,ADDAL,COL,SL5687175,9852,None,...,None,None,None,None,None,2020-03-12 11:16:36,IPACS,SL5687175,None,None
43,SL5687177,None,NEW,CONTRACT,None,ADDAL,COL,SL5687177,1234,None,...,None,None,None,None,None,2020-03-12 11:19:38,IPACS,SL5687177,None,None
44,SL5687178,None,NEW,CONTRACT,None,AKKAA,COL,SL5687178,1234,None,...,None,None,None,None,None,2020-03-12 11:25:27,IPACS,SL5687178,None,None
45,SL5687189,None,NEW,CONTRACT,None,ADDAL,COL,SL5687189,12,None,...,None,None,None,None,None,2020-03-30 13:31:35,HELLO,SL5687189,None,None
46,SL5687190,None,NEW,CONTRACT,None,ADDAL,COL,SL5687190,1,None,...,None,None,None,None,None,2020-03-30 14:32:04,HELLO,SL5687190,None,None
47,SL5687204,None,NEW,CONTRACT,None,AMPAR,COL,SL5687204,123,None,...,None,None,None,None,None,2020-05-15 00:14:49,BIMAL,SL5687204,None,None
48,SL5687196,None,GOLD,CONTRACT,None,AKKAA,COL,SL5687196,123,None,...,None,None,None,None,None,2020-05-14 17:42:24,BIMAL,SL5687196,None,None
49,SL5687202,None,NEW,CONTRACT,None,ANGAM,COL,SL5687202,123,None,...,None,None,None,None,None,2020-05-14 20:20:08,BIMAL,SL5687202,None,None

In [16]:
df.shape

(50, 122)

In [17]:
df.columns

Index(['CUS_ACCOUNT_ID', 'CUS_FAX_NO', 'CUS_CUSTOMER_TYPE',
       'CUS_CUSTOMER_CATEGORY', 'CUS_ADD_PIN', 'CUS_CITY_CODE',
       'CUS_STATE_CODE', 'CUS_TEL_NO', 'CUS_CONTACT_NO', 'CUS_GRID_ID',
       ...
       'CUS_P2P_FLAG', 'CUS_AON', 'CUS_AON_DATE', 'CUS_DEACT_REASON',
       'CUS_MIGRATED', 'CUS_ADD_DATE', 'CUS_ADD_BY', 'CUS_CONTRACT_ACC',
       'CUS_PARENT_ACC', 'CUS_BRN_NO'],
      dtype='object', length=122)

In [18]:
df.tail()

,CUS_ACCOUNT_ID,CUS_FAX_NO,CUS_CUSTOMER_TYPE,CUS_CUSTOMER_CATEGORY,CUS_ADD_PIN,CUS_CITY_CODE,CUS_STATE_CODE,CUS_TEL_NO,CUS_CONTACT_NO,CUS_GRID_ID,...,CUS_P2P_FLAG,CUS_AON,CUS_AON_DATE,CUS_DEACT_REASON,CUS_MIGRATED,CUS_ADD_DATE,CUS_ADD_BY,CUS_CONTRACT_ACC,CUS_PARENT_ACC,CUS_BRN_NO
45,SL5687189,None,NEW,CONTRACT,None,ADDAL,COL,SL5687189,12,None,...,None,None,None,None,None,2020-03-30 13:31:35,HELLO,SL5687189,None,None
46,SL5687190,None,NEW,CONTRACT,None,ADDAL,COL,SL5687190,1,None,...,None,None,None,None,None,2020-03-30 14:32:04,HELLO,SL5687190,None,None
47,SL5687204,None,NEW,CONTRACT,None,AMPAR,COL,SL5687204,123,None,...,None,None,None,None,None,2020-05-15 00:14:49,BIMAL,SL5687204,None,None
48,SL5687196,None,GOLD,CONTRACT,None,AKKAA,COL,SL5687196,123,None,...,None,None,None,None,None,2020-05-14 17:42:24,BIMAL,SL5687196,None,None
49,SL5687202,None,NEW,CONTRACT,None,ANGAM,COL,SL5687202,123,None,...,None,None,None,None,None,2020-05-14 20:20:08,BIMAL,SL5687202,None,None

In [21]:
#slicing
df[:] #print all rows
df[1:5] #print row from 1 - 4

,CUS_ACCOUNT_ID,CUS_FAX_NO,CUS_CUSTOMER_TYPE,CUS_CUSTOMER_CATEGORY,CUS_ADD_PIN,CUS_CITY_CODE,CUS_STATE_CODE,CUS_TEL_NO,CUS_CONTACT_NO,CUS_GRID_ID,...,CUS_P2P_FLAG,CUS_AON,CUS_AON_DATE,CUS_DEACT_REASON,CUS_MIGRATED,CUS_ADD_DATE,CUS_ADD_BY,CUS_CONTRACT_ACC,CUS_PARENT_ACC,CUS_BRN_NO
1,1015687180,None,NEW,POSTPAID,None,ADDAL,None,1015687180,777777777,None,...,None,None,None,None,None,2020-03-12 12:19:06,HELLO,SL5687168,None,None
2,1015687171,None,NEW,POSTPAID,None,AMUNU,None,1015687171,12345,None,...,None,None,None,None,None,2020-03-06 14:09:34,IPACS,SL5687158,None,None
3,1015687172,None,NEW,POSTPAID,None,AMUNU,None,1015687172,12345,None,...,None,None,None,None,None,2020-03-06 14:18:12,IPACS,SL5687158,None,None
4,1015687173,None,NEW,POSTPAID,None,AMUNU,None,1015687173,12345,None,...,None,None,None,None,None,2020-03-12 11:10:16,HELLO,SL5687158,None,None

In [22]:
#columns in data frame are of type pandas series.
#here df is my dataframe
type(df['CUS_ACCOUNT_ID'])

pandas.core.series.Series

In [23]:
#PRINT TWO OR  MORE SELECTED COLUMNS
df[['CUS_ACCOUNT_ID','CUS_CUSTOMER_TYPE']]

     CUS_ACCOUNT_ID CUS_CUSTOMER_TYPE
0        1015687179               NEW
1        1015687180               NEW
2        1015687171               NEW
3        1015687172               NEW
4        1015687173               NEW
5        1015687174               NEW
6        1015687192               NEW
7        1015687205               NEW
8        1015687159               NEW
9        1015687170               NEW
10       1015687197              GOLD
11       1015687198              GOLD
12       1015687199              GOLD
13       1015687200              GOLD
14       1015687160               NEW
15       1015687162               NEW
16       1015687186               NEW
17       1015687187               NEW
18       1015687161               NEW
19       1015687191               NEW
20       1015687193               NEW
21       1015687194               NEW
22       1015687195               NEW
23  202003000000003              GOLD
24       1015687181               NEW
25       1015687182               NEW
26  202002000000065              GOLD
27  202003000000001              GOLD
28       1015687183               NEW
29       1015687206               NEW
30  202003000000002              GOLD
31  202002000000002              GOLD
32       1015687166               NEW
33       1015687167               NEW
34  202002000000003              GOLD
35       1015687184               NEW
36       1015687185               NEW
37       1015687201              GOLD
38       1015687203               NEW
39        SL5687158               NEW
40        SL5687168               NEW
41        SL5687169               NEW
42        SL5687175               NEW
43        SL5687177               NEW
44        SL5687178               NEW
45        SL5687189               NEW
46        SL5687190               NEW
47        SL5687204               NEW
48        SL5687196              GOLD
49        SL5687202               NEW

In [25]:
df.describe() #get all statistics data for all number fields

       CUS_NO_DEPENDENTS
count                1.0
mean                 2.0
std                  NaN
min                  2.0
25%                  2.0
50%                  2.0
75%                  2.0
max                  2.0

In [33]:
df['CUS_ADD_DATE'].max()  #same for mean, m'in, count ...
df['CUS_ADD_DATE'].count()

49

In [32]:

#print newest added customer
df[df['CUS_ADD_DATE']==df['CUS_ADD_DATE'].max()]

,CUS_ACCOUNT_ID,CUS_FAX_NO,CUS_CUSTOMER_TYPE,CUS_CUSTOMER_CATEGORY,CUS_ADD_PIN,CUS_CITY_CODE,CUS_STATE_CODE,CUS_TEL_NO,CUS_CONTACT_NO,CUS_GRID_ID,...,CUS_P2P_FLAG,CUS_AON,CUS_AON_DATE,CUS_DEACT_REASON,CUS_MIGRATED,CUS_ADD_DATE,CUS_ADD_BY,CUS_CONTRACT_ACC,CUS_PARENT_ACC,CUS_BRN_NO
29,1015687206,None,NEW,POSTPAID,None,AMUNU,BLR1,7893738210,12345,None,...,None,None,None,None,None,2020-05-27 16:11:33,IPACS,SL5687158,None,None

In [ ]:
#by default data frame use count as my index 
#we can also use any column as our index
#df.set_index('column_name') return a new data frame
#df.set_index('column_name',inplace=True)